<body style="color:sandybrown">
    @{
        ViewBag.Title = "Cars_Error";
    }

    <h2 style="color:sandybrown">Record Not Found</h2>
    <p style="color:sandybrown">The Requested Record might have been deleted or removed. Please look for another record.</p>

    <div style="color:sandybrown">
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>